body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgreen;
}

a {
  color: #00B7FF;
}

.whiteBox {
  background-color: white;
 
}

.main {
  background-color: lightgreen;
}


.center {
  text-align: center;
}

.cellPercent {
  text-align: center;
}
