<!DOCTYPE html>
<html>
  <head>
    <!-- This file is the common layout used for all pages, when we render screen we pass
    the title variable here and the body variable which is basically the hbs files-->
    <title>{{title}}</title>
    <!--this introduces the CSS code.-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--this is CDN to introduce jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
