<h1>{{title}}</h1>

<!--form with inputs-->
<form action="/auth/loging" method="POST">
    <input type="text" id="user" placeholder="Email" name="email"><br>
    <input type="password" id="password" placeholder="Password" name="password"><br>
    <input type="submit" id="submit" value="Log In">
    <a href="/newuser"><input type="button" id="createAccount" value="Create Account"></a>
</form>

<div id="error" name="error">
    {{error}}
</div>

<div id="success" name="success">
    {{success}}
</div>


<ul>
  <li><a href="/">Homepage</a></li>
</ul>

<div class="col-sm-4">
<div class="card social-block">
<div class="card-body">
    <a class="btn btn-block" href="/auth/google" role="button">
    <i class="fab fa-google"></i>
    Sign up with Google
    </a>
</div>
</div>
</div>
<script>
    var error = $("#error");
    error.css("color", "red");

    var success = $("#success");
    success.css("color", "green");
</script>
