<h1>{{title}}</h1>

<!--form with inputs-->
<form action="/auth/loging" method="POST">
    <input type="text" id="user" placeholder="Username" name="accountName"><br>
    <input type="password" id="password" placeholder="Password" name="password"><br>
    <input type="submit" id="submit" value="Log In">
    <a href="/newuser"><input type="button" id="createAccount" value="Create Account"></a>
</form>

<div id="error" name="error">
    {{error}}
</div>
<ul>
  <li><a href="/">Homepage</a></li>
</ul>

<div class="col-sm-4">
<div class="card social-block">
<div class="card-body">
    <a class="btn btn-block" href="/auth/google" role="button">
    <i class="fab fa-google"></i>
    Sign up with Google
    </a>
</div>
</div>
</div>
<script>
    var error = $("#error");
error.css("color", "red");
/*
    var fakeName = "J";
    var fakePass = "A";
    var error = $("#error");
// this is event handler for when submit button is pressed
    $("#submit").click(function(){
        var name = $("#user").val();
        var pass = $("#password").val();

// this will need to be updated to use server, this is fake placeholder
        // if name or password is empty display this error
        if (name == "" || pass =="") {
            error.html("Fill in all fields!");
            error.css("color", "red");
            // name or password does not equal the fake username of password make this error
        } else if (name !== fakeName || pass!==fakePass) {
            error.html("The username and password do not match!");
            error.css("color", "red");
            // if username and password matched fake credentials display this
        } else if (name == fakeName && pass==fakePass) {
            error.html("Credentials correct!");
            error.css("color", "green"); // two parameters for css makes this a setter
            signOut();
            // make it pop new page
        }
    });

    $("#createAccount").click(function(){
        // could make an get message to get new website
    });
*/
</script>
