<h1>{{title}}</h1>

<!--form with inputs-->
<form>
    <input type="text" id="user" placeholder="Username"><br>
    <input type="password" id="password" placeholder="Password"><br>
    <input type="button" id="submit" value="Log In">
    <input type="button" id="createAccount" value="Create Account">
</form>

<div id="error">
    <!--inner html-->
</div>

<script>
    var fakeName = "James4"; 
    var fakePass = "ABC12345";
    var error = $("#error");

// this is event handler for when submit button is pressed
    $("#submit").click(function(){
        var name = $("#user").val();
        var pass = $("#password").val();

// this will need to be updated to use server, this is fake placeholder
        // if name or password is empty display this error
        if (name == "" || pass =="") {
            error.html("Fill in all fields!");
            error.css("color", "red");
            // name or password does not equal the fake username of password make this error
        } else if (name !== fakeName || pass!==fakePass) {
            error.html("The username and password do not match!");
            error.css("color", "red");
            // if username and password matched fake credentials display this
        } else if (name == fakeName && pass==fakePass) {
            error.html("Credentials correct!");
            error.css("color", "green"); // two parameters for css makes this a setter
            // make it pop new page
        }
    });

    $("#createAccount").click(function(){
        // could make an get message to get new website
    });

</script>