<h1>{{title}}</h1>

<form>
    <input type="text" id="fName"> First Name<br><br>
    <input type="text" id="lName"> Last Name<br><br>
    <input type="text" id="user" > Username<br><br>
    <input type="text" id="email" > Email Address<br><br>
    <input type="password" id="password" > Password<br><br>
    <input type="password" id="re-password" > Re-enter Password<br><br>
    <input type="button" id="create" value="Create Account">
</form>

<div id="error"></div>

<script>
       
    var submit = $("#create");

    function checkPass() {
        var error = $("#error");
        var pass1 = $("#password");
        var pass2 = $("#re-password");

        var isTrue = true;

        var pos = pass1.val().search(/ /);
        if (pos !== -1) {
            error.append("<br>No spaces allowed in password.");
            isTrue= false;
        }

        var pos2 = pass1.val().search(/\d/);
        if (pos2 == -1) {
            error.append("<br>You need atleast one number in password.");
            isTrue= false;
        }

        if(pass1.val() == "" || pass2.val()=="") {
            error.append("<br>Type in both password.");
            isTrue= false;
        } else if (pass1.val() !== pass2.val()) {
            error.append("<br>The passwords you type do not match.");
            isTrue= false;
        }
        return isTrue;
    }

    function checkUser() {
        var user = $("#user");
        var isTrue = true;

        var pos = user.val().search(/ /);
        var pos2 = user.val().search(/\d[0-9]+/);
        var pos3 = user.val().search(/[A-Z]+/);
        var pos4 = user.val().search(/[a-z]+/);

        if (pos !== -1) {
            isTrue = false;
        } else if (pos2 ==! -1) {
            isTrue = false;
        } else if (pos3 == -1) {
            isTrue = false;
        } else if (pos4 == -1) {
            isTrue = false;
        } else if (user.val().length < 9) {
            isTrue = false;
        }

        return isTrue;
    }

    function checkEmail() {
        var email = $("#email");
        // this is incomplete
        var pos = email.val().search(/^[a-z]+@{1}[a-z]+.com+$/);

        console.log(pos);
    }

    submit.click(function(){
        var error = $("#error");
        error.css("color", "red");

        error.html("Please fix these before submission.");
        var boolUser = checkUser();

        if (boolUser == false) {
            error.append("<br>Your username is not in the correct format. Username needs to have atleast 1 capitol letter, 1 lowercase letter, 1 number, be 8 characters long, and have no spaces");
        }

        var boolPass = checkPass();
        checkEmail();

        if (boolPass == true && boolUser == true) {
            error.css("color", "green");
            error.html("Hooray correct submission.");
            // can submit data
        }


    });

    
</script>